/* <![CDATA[ */
body {
    background: rgb(238,175,97);
    background: -moz-linear-gradient(180deg, rgba(238,175,97,1) 0%, rgba(238,93,108,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(238,175,97,1) 0%, rgba(238,93,108,1) 100%);
    background: linear-gradient(180deg, rgba(238,175,97,1) 0%, rgba(238,93,108,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaf61",endColorstr="#ee5d6c",GradientType=1);
    background-color: rgba(238,93,108,1);
    color: rgb(216, 202, 218);
    margin: 0 24pt 0 24pt;
    font-family: Optima, sans-serif;
    font-size: 13pt;
    min-height: 100vh;

}
div {
    height: 16pt;
}
a {
    color: #117;
    text-decoration: none;
}
.h1{
    text-align: center;
    font-size: 10vh;
}
.title{
    text-align: center;
    margin-bottom:4vh;
}
#main{
    text-align: center;
}

.image {
    max-width: 25vw;
    min-height: 8vh;
    max-height:300px;
    position: absolute;

}

#left-images {
    position: absolute;
    left: 10px;
}

#right-images {
    position: absolute;
    right: 10px;
}
